<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>500001336140-lleehgp9hjvhv9avlfa05fid1d48tgs8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.500001336140-lleehgp9hjvhv9avlfa05fid1d48tgs8</string>
	<key>API_KEY</key>
	<string>AIzaSyDHPpxqRWpuM9BeNMWSahmGBkUz95pnO-0</string>
	<key>GCM_SENDER_ID</key>
	<string>500001336140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.molaktycoon.nftnotes</string>
	<key>PROJECT_ID</key>
	<string>nftnotess</string>
	<key>STORAGE_BUCKET</key>
	<string>nftnotess.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:500001336140:ios:b17d9acf2389dfda4cbde9</string>
</dict>
</plist>